[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
black = "*"

[packages]
flask = "1.1.2"
flask-sqlalchemy = "2.5.1"
flask-testing = "*"
flask-migrate = "*"
flask-script = "*"
mysql-connector-python = "*"
flask-cors = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
